<div id="paymentResponse" class="hidden">{{{response}}}</div>
<div id="clientKey" class="hidden">{{clientKey}}</div>

<div align="center" style="padding-top:5%">
  <h4>Payment Methods</h4>
</div>

<div id="dropin"></div>

{{! Adyen Component client code }}
<script type="text/javascript" src="../implementation.js"></script>