<div align="center" id="cartPage">
    <h2>Cart Page</h2>
    <div class="table-responsive" align="center">
        <table class="table" align="center" >
            <tr align="center" vertical-align="">
                <td>
                    <h4>Item</h4>
                </td>
                <td>
                    <h4>Description</h4>
                </td>
                <td>
                    <h4>Price</h4>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <img width="130px" src="/images/RAM.jpg"/>
                </td>
                <td >
                    <p>Corsair DDR4 Vengeance RGB Pro SL 4x32GB 3200 Memory Module</p>
                </td>
                <td>
                    <p>$579 EUR</p>
                </td>
            </tr>
        </table>
    </div>
    <a href='/checkout'>
        <button type="button" class="btn btn-primary">Checkout</button>
    </a>
</div>